body{
    background-image: url("bg6.jpg");
    right: 90%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th {
    background-color: #d3d3d3;
    color: #333;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    border: 1px solid #000000;
  }
  
  table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #000000;
  }
  
  table tr {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  .card{
    background-color: #f7f3f3aa;
  }
  